
#serif{
  font-family: serif;
}
#snas-serif{
 font-family: Sans-Serif; 
}
#monospace{
  font-family: Monospace;
}
#cursive{
  font-family: cursive;
}
#fantasy{
  font-family: fantasy;
}
#google{
  font-family: "Roboto",Sans-Serif;
}
